<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div style="float: left;" class="navbar-header">
        <a class="navbar-brand" href="http://csirtgadgets.org" target=_blank>CSIRT Gadgets Foundation</a>
    </div>
    <div style="float: right;" class="navbar-header">
        <a class="navbar-brand" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
